ddsp[data_preparation]==3.7.0
tensorflow==2.10.0
numpy>=1.23.5
librosa==0.10.0
scipy>=1.10.1
crepe>=0.0.12
hmmlearn>=0.2.7
protobuf==3.19.0
tensorflow-probability==0.18.0
python-snappy>=0.7.3
tensorflow-datasets==4.8.0
mir-eval>=0.7
note-seq>=0.0.3
google-cloud-storage
cloudml-hypertune>=0.1.0.dev6
tflite-support>=0.1.0a1
tensorflowjs>=3.18.0
array-record==0.2.0
